// ========== Common ==========
*
	margin 0
	padding 0

html, body
	height 100%
	width 100%
	color #586e75
	background-color #002b36

ul
	list-style none

.hidden
	visibility hidden

footer
	position fixed
	left 0px
	bottom 0px
	text-align center
	width 100%
	color #999

// ============= Tasks ===========

.task-row
	width 100%
	font-size 0

.task
	vertical-align top
	font-family "Helvetica"
	font-size 12px
	display inline-block
	height 100%

.task-title
	font-size 12px
	height 20%
	padding-top 2%
	padding-right 3%
	padding-left 3%
	text-align center

.task-success
	color #509900

.task-failure
	color #dc322f

.task-running
	color #268bd2

.builds
	padding-left 1%
	padding-right 1%

.build
	font-size 1.7em
	position relative
	margin-bottom 1%

.build-details
	color #586e75

.progress-bar
	width 100%

// ========= Admin ===========

.setting-container
	button
		height 38px

.button-warning
	background rgb(223, 117, 20)
