// ========== Common ==========
*
	margin 0
	padding 0

html, body
	height 100%
	width 100%
	color #586e75
	background-color #002b36

.hidden
	visibility hidden

footer
	position fixed
	left 0px
	bottom 0px
	text-align center
	width 100%
	color #999

// ============= Tasks ===========

.task-row
	width 100%
	font-size 0

.task
	font-size 12px
	vertical-align top
	font-family "Arial"
	display inline-block
	height 100%
	div
		display relative
		margin-left auto
		margin-right auto
		height 80%
		width 80%

.task-success
	color #859900

.task-failure
	color #dc322f

.task-running
	color #268bd2

// ========= Admin ===========

.setting-container
	button
		height 38px

.button-warning
	background rgb(223, 117, 20)
