<template name="settings">
  {{#each settings}}
  <div class="setting-container">
    {{> setting}}
  </div>
  {{/each}}
</template>

<template name="setting">
  <form class="pure-form">
    <fieldset>
      <legend>
        {{name}}
        <br />
        <small>{{description}}</small>
      </legend>

      <input type="text" value="{{value}}" placeholder="{{defaultValue}}">

      <button type="submit" class="pure-button pure-button-primary js-submit-setting-value" {{submitButtonDisabledAttribute}}>&#10003;</button>
      <button class="pure-button button-warning {{resetButtonHiddenClass}} js-reset-setting-value">&times;</button>
    </fieldset>
  </form>
</template>
