<template name="defaultOverview">
  {{#if Template.subscriptionsReady}}
  {{#each taskRows}}
  <div class="task-row" style="height: {{rowHeightPercentage}}%;">
    {{#each this}} {{> task}} {{/each}}
  </div>
  {{/each}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="task">
  <div class="task" style="width: {{columnWidthPercentage}}%;">
    <div class="task-title">
      <span class="{{taskStatusClass}}">{{this.[0]}}</span>
    </div>

    <div class="builds">
      <ul>
        {{#each builds}}
        <li class="{{buildStatusClass}}">{{> build}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="build">
  <div class="build">
    {{#if buildIsRunning}}
      {{> buildInProgress}}
    {{else}}
      {{> finishedBuild}}
    {{/if}}
  </div>
</template>

<template name="finishedBuild">
  <div class="build-name">{{buildType.name}} <span class="build-details">({{buildDuration}})</span></div>
</template>

<template name="buildInProgress">
  <div class="build-name">{{buildType.name}}</div>
  <div class="progress-bar"></div>
</template>
