<template name="defaultOverview">
  <div class="pure-g tasks">
    {{#each taskGroup.firstThree}}
    <div class="pure-u-1-3">
      {{> task}}
    </div>
    {{/each}}
  </div>

  <div class="pure-g tasks">
    {{#each taskGroup.threeMore}}
    <div class="pure-u-1-3">
      {{> task}}
    </div>
    {{/each}}
  </div>
</template>

<template name="task">
  <div class="task">
    <div class="task-title">{{name}}</div>
    <div class="task-status-messeage">{{statusMessage}}</div>
  </div>
</template>
