.grid
	display flex
	flex-flow row wrap

.task-container
	border 1px solid #888
	padding 20px
	min-height 100px
	font-family "Arial"

.task-title
	font-size 40px
	color #446

.task-status-messeage
	font-size 20px
	color #88a
